body {
  background-color : #DDDDDD;
}

span.field-name {
  font-family : monospace;
  font-size   : 28px;
}

button.info {
  border-radius: 50% !important;
  border: none;

  padding           : 12px;
  margin-right      : 4px;
  background-image  : url('chrome-extension://__MSG_@@extension_id__/info24.png');
  background-repeat : no-repeat;
  vertical-align    : center;
  text-decoration: none;
}